body{
    background-color: aliceblue;
}

.div_head {
    width: 100%;
    background-color: #f1ffe1;
    padding: 5px 0;
    margin: 10px 0;
}

.div_head>h2 {
    width: 100%;
    text-align: center;     
}

.div_video {
    width: 100%;
}

.vid_Player {
    width: 100%;
}

.div_links {
    display: grid;
}

.div_links>a {
    margin: 5px;
}